@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

h1{
    text-shadow: -2px -2px 4px black;
    background-color: #474747;
    color: #fff;
    padding: 20px;
    text-align: center;
}
menu{
    padding: 5px;
    background-color: #5e5e5e;
    margin-bottom: 10px;
}
li{
    border-radius: 5px;
    display: inline;
    background-color: #000;
    color: #fff;
    padding: 5px;
}
main{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 60vw;
}